/*================================================================================
        Item Name: Stack - Responsive Admin Theme
        Version: 1.0
        Author: PIXINVENT
        Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.table th, .table td {
    padding-left: 10px !important;
}

.module .collapse, .module .collapsing {
    height: 3rem; /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}

.module .collapse {
    position: relative; /* For ...'s content absolute positioning */
    display: block;
    overflow: hidden;
}

.module .collapse:before {
    content: ' ...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.module .collapse.show {
    height: auto; /* You need to reset the height when not collapsed */
}

.module .collapse.show:before {
    display: none; /* Of course you don't want to display ... */
}

.module a.collapsed:after {
    content: '+ Read More';
}

.module a:not(.collapsed):after {
    content: '- Read Less';
}

.discountPrice, .qty {
    text-align: center;
    max-width: 12vh;
    background-color: transparent;
    border: none;
}

.subtotal {
    text-align: left;
    background-color: transparent;
    border: none;
}